[Desktop Entry]
Type=Application
Name=FT-ITC Analysis
Comment=Process, analyze, and present isothermal titration calorimetry data
Exec=ft-itc-analysis %F
Icon=org.ft_itc.analysis
Terminal=false
Categories=Science;Education;
MimeType=application/vnd.ftitc.project+zip;
StartupNotify=true
