[Desktop Entry]
Type=Application
Name=FT-ITC Analysis
Comment=Process, analyze, and present isothermal titration calorimetry data
Exec=/opt/ft-itc-analysis/AnalysisITC.Avalonia %F
Icon=org.ft_itc.analysis
Terminal=false
Categories=Science;Education;
MimeType=application/vnd.ftitc.project+zip;application/x-ftitc-project;
StartupNotify=true
